*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.brand-name {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

body {
    background: url("./images/restaurant.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(239, 195, 142);
}

.search-box {
    position: relative;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    /* height: 100%; */
}

.route-name {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
}

.route-name:hover {
    background-color: rgb(239, 195, 142);
    transition: 0.6s;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.food-cards{
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.food-cards:hover{
    transform: translateY(-6px);
    box-shadow: 1px 1px 20px -10px rgb(255, 255, 255);
}